.wrapper-app{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 950px; 
    /* width: 100%;  */
    padding: 0 20px; 
}

.space-align-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 950px;
    flex-grow: 1;
  }
  .space-align-block {

    max-width: 451px;
    flex: flex;
    margin: 8px 4px;
    padding: 4px;
    flex-grow: 1;

  }
  .space-align-block .mock-block {
    display: inline-block;
    padding: 32px 8px 16px;
    background: rgba(150, 150, 150, 0.2);
  }

  .ant-card-body{
    padding: 0;
    display: flex;
  }

  :where(.css-dev-only-do-not-override-1v613y0).ant-card .ant-card-body {
        padding: 0;

}

.cart-img{
    margin-right: 20px;
}

.cart-img img {
    width: 183px;
    /* height: 281px; */
}
.cart-date{
    color: rgba(130, 126, 126, 1);
}



